<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link th:href="@{/style/main.css}" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Lean Web App</title>
  
</head>
<body>
 <!-- The navigation menu -->
 <div nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a href="/employee">Employees & Schedule</a>
  <a href="/process">Processes & Tasks</a>
  <a href="/gemba">Gemba</a>
  <a href="/dashboard">Dashboard</a>
</div> 

  
<center><h2> HomePage </h2><br>
        <p>
        Please Select Operation fron the Top Navigation Bar
        </p>
</center><hr>

<footer class="container-fluid bg-4 text-center">
  <section class="py-1">
    <div class="container px-4 px-lg-5 mt-5 bg-dark">
      <div class="row gx-4 gx-lg-5 justify-content-lg-start">
        <div class="col mb-5">
            <div class="card bg-dark text-white border-0">
                <div class="text-lg-start">
                    <b>Contact Details:</b><br>
                    <div class="text-lg-start">
                      <p>Phone : 087xxxx60</p>
                      <p>E-mail : 119717661@umail.ucc.ie</p>
                  </div>
                </div>
                <hr>
            </div>
      </div>
      <div class="col mb-5 float-right ms-auto">
        <div class="card h-10 bg-dark text-white border-0"></div>
      </div>
      </div>
    </div>
  </section>
  <div class="container py-4 bg-light">
    <p class="m-0 text-center text-black">Made for University College Cork &copy; <br> Created by: Piotr Janus</p>
  </div>
</footer>

</body>
</html>
