<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/style/main.css}" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Schedule Page</title>
</head>
<body>

  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav d-flex justify-content-center w-100">
          <li class="nav-item dropdown">
            <a class="active nav-link dropdown-toggle" href="/employee" role="button" data-bs-toggle="dropdown">Employees & Schedule</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/addEmployee">Add New Employee</a></li>
              <li><a class="dropdown-item" href="/showAllEmployees">Show All Employees</a></li>
              <li><a class="dropdown-item" href="/schedule">Schedule Operations</a></li>
              <li><a class="dropdown-item" href="/view-schedule">View Schedule</a></li>
            </ul>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/process" role="button" data-bs-toggle="dropdown">Processes & Tasks</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/showAllProcesses">Show All Processes</a></li>
            <li><a class="dropdown-item" href="/addProcess">Add New Process</a></li>
            <li><a class="dropdown-item" href="/showAllTasks">Show All Tasks</a></li>
            <li><a class="dropdown-item" href="/addTask">Add New Tasks</a></li>    
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/gemba" role="button" data-bs-toggle="dropdown">Gemba</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/gemba">Calculations</a></a></li>
            <li><a class="dropdown-item" href="/viewGemba">Results</a></li>           
          </ul>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
<main class="container mx-auto">
  <div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="text-center"> 
          <h2> Schedule Page </h2>
          <br>
      
     
          <div class="form-container">
           <form id="assignment-form" class="form" th:action="@{/save-schedule}" th:object="${schedule}" method="post">
             <div class="form-group">
               <label for="weekNumber">Select Starting day of the Week:</label>
               <div class="input-group">
                 <input type="text" class="form-control" id="weekNumber" name="weekNumber" required>
                     </div>
             </div>
             
             <style>
                .ui-datepicker {
         width: 500px;
         font-size: 15px;
         background-color: rgb(235, 235, 235);
         border: 1px solid #ddd;
         text-align: center;
       }
       
       .ui-datepicker-header {
         text-align: center;
       }
       
       .ui-datepicker-title {
         text-align: center;
       }
       
       .ui-datepicker-prev, .ui-datepicker-next {
         display: inline-block;
         width: 50%;
         text-align: center;
       }
       
       .ui-datepicker-prev span, .ui-datepicker-next span {
         display: inline-block;
         margin: 0 auto;
       }
       
       .ui-datepicker-calendar th {
         padding-right: 10px;
         text-align: center;
       }
       
       .ui-datepicker-calendar td {
         padding-right: 10px;
         text-align: center;
       }
     
       
             </style>
            
             <table class="table">
                 <thead>
                   <tr>
                     <th scope="col">Day</th>
                     <th scope="col">Employee</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td><b>Monday</b></td>
                     <td>
                       <select name="MondayEmployee" class="form-control">
                         <option th:each="employee : ${employees}" th:value="${employee.eID}" th:text="${employee.efName} + ' ' + ${employee.elName}"></option>
                       </select>
                     </td>
                   </tr>
                   <tr>
                     <td><b>Tuesday</b></td>
                     <td>
                       <select name="TuesdayEmployee" class="form-control">
                         <option th:each="employee : ${employees}" th:value="${employee.eID}" th:text="${employee.efName} + ' ' + ${employee.elName}"></option>
                       </select>
                     </td>
                   </tr>
                   <tr>
                     <td><b>Wednesday</b></td>
                     <td>
                       <select name="WednesdayEmployee" class="form-control">
                         <option th:each="employee : ${employees}" th:value="${employee.eID}" th:text="${employee.efName} + ' ' + ${employee.elName}"></option>
                       </select>
                     </td>
                   </tr>
                   <tr>
                     <td><b>Thursday</b></td>
                     <td>
                       <select name="ThursdayEmployee" class="form-control">
                         <option th:each="employee : ${employees}" th:value="${employee.eID}" th:text="${employee.efName} + ' ' + ${employee.elName}"></option>
                       </select>
                     </td>
                   </tr>
                   <tr>
                     <td><b>Friday</b></td>
                     <td>
                       <select name="FridayEmployee" class="form-control">
                         <option th:each="employee : ${employees}" th:value="${employee.eID}" th:text="${employee.efName} + ' ' + ${employee.elName}"></option>
                       </select>
                     </td>
                   </tr>
                 </tbody>
               </table>
               <button type="submit" class="btn btn-primary">Submit Schedule</button>
             </form>
     </div>
     
     
       </div>
         
     </div>
     
     
     <script>
       $(function() {
         $('#weekNumberButton').on('click', function() {
           $('#weekNumber').datepicker('show');
         });
         $('#weekNumber').datepicker({
           format: 'dd/mm/yyyy',
           autoclose: true,
           dayNames: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
           dayNamesMin: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
           firstDay: 1,
           prevText: 'Previous',
           nextText: 'Next'
         });
       });
     </script>
      </div>
    </div>
  </main>
  
   <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Contact Details:</p>
          <p>Phone: 087xxxx60</p>
          <p>E-mail: 119717661@umail.ucc.ie</p>
        </div>
      </div>
    </div>
  </footer>
  <footer class="footer-alt">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Made for University College Cork &copy;</p>
          <p>Created by: Piotr Janus</p>
        </div>
      </div>
    </div>

    <script>

      document.getElementById('submitButton').addEventListener('click', function(event) {
        event.preventDefault();
        var day = document.getElementById('daySelect').value;
        var employee = document.getElementById('employeeSelect').value;
        var rows = document.getElementsByTagName('tr');
        var rowToUpdate;
        for (var i = 0; i < rows.length; i++) {
          if (rows[i].firstElementChild.textContent === day) {
            rowToUpdate = rows[i];
            break;
          }
        }
        rowToUpdate.lastElementChild.textContent = employee;
      });
    </script>
</body>
</html>

