<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  

  <title>Lean Web App</title>
  <style>
    * {box-sizing: border-box}
    body {font-family: Arial, Helvetica, sans-serif;}
    
    .navbar {
      width: 100%;
      background-color: #555;
      overflow: auto;
    }
    
    .navbar a {
      float: left;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      width: 25%; /* Four links of equal widths */
      text-align: center;
    }
    
    .navbar a:hover {
      background-color: #000;
    }
    
    .navbar a.active {
      background-color: #04AA6D;
    }
    
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
      }
    }
    .bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}

    </style>
</head>
<body>
 <!-- The navigation menu -->
 <div nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="active" href="/employee">Schedule & Boards</a>
  <a href="/process">Processes</a>
  <a href="/gemba">Gemba</a>
  <a href="/dashboard">Dashboard</a>
</div> 

  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav bg-gray-300">
      <div class="list-group mt-2">
        <a class="list-group-item list-group-item-action text-dark font-weight-bold" href="/addEmployee">Add New Employee</a>
        <a class="list-group-item list-group-item-action text-dark font-weight-bold" href="/showAllEmployees">Show All Employees</a>
        <a class="list-group-item list-group-item-action text-dark font-weight-bold" href="/schedule">Schedule Operations</a>
      </div>
    </div>
    
    
    <div class="col-sm-8 text-left"> 
     <center><h1> Employee Page </h1></center>
     <br>
 

     <form action="" method="post">
       <div class="form-group">
         <label for="daySelect">Select Day:</label>
         <select class="form-control" id="daySelect">
           <option>Monday</option>
           <option>Tuesday</option>
           <option>Wednesday</option>
           <option>Thursday</option>
           <option>Friday</option>
         </select>
       </div>
       <div class="form-group">
         <label for="employeeSelect">Select Employee:</label>
           <select class="form-control" id="employeeSelect"></selectclass>
             <option th:each="employee : ${employees}" th:value="${employee.efName} + ' ' + ${employee.elName}" th:text="${employee.efName} + ' ' + ${employee.elName}"></option>
         </select>
 
           
       </div>
       <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
     </form>
     <table class="table">
       <thead>
         <tr>
           <th scope="col">Day</th>
           <th scope="col">Employee</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><b>Monday</b></td>
           <td>No one assigned</td>
         </tr>
         <tr>
           <td><b>Tuesday</b></td>
           <td>No one assigned</td>
         </tr>
         <tr>
           <td><b>Wednesday</b></td>
           <td>No one assigned</td>
         </tr>
         <tr>
           <td><b>Thursday</b></td>
           <td>No one assigned</td>
         </tr>
         <tr>
           <td><b>Friday</b></td>
           <td>No one assigned</td>
         </tr>
       </tbody>
     </table>
   </div>

    </div>
  </div>
</div>
<footer class="container-fluid bg-4 text-center">
  <section class="py-1">
    <div class="container px-4 px-lg-5 mt-5 bg-dark">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-lg-start">
            <div class="col mb-5">
                <div class="card bg-dark text-white border-0">
                    <div class="text-lg-start">
                        <b>Contact Details</b>
                        <hr>
                    </div>
                       
                    <div class="text-lg-start">
                   
                        <p>Phone : 087xxxx60</p>
                        <p>E-mail : 119717661@umail.ucc.ie</p>
                    </div>
            </div>
        </div>
            <div class="col mb-5 float-right ms-auto">
                <div class="card h-10 bg-dark text-white border-0">
            </div>
            </div>
    </div>
    </div>

</section>
</footer>
<footer class="py-4 bg-light">
    <div class="container">
        <p class="m-0 text-center text-black">Made for University College Cork &copy; <br> Created by: Piotr Janus</p>
    </div>
</footer>


<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script>
    // Add an event listener to the submit button
    document.getElementById('submitButton').addEventListener('click', function(event) {
      // Prevent the form from submitting
      event.preventDefault();

      // Get the selected day and employee from the dropdown menus
      var day = document.getElementById('daySelect').value;
      var employee = document.getElementById('employeeSelect').value;

      // Find the row in the table that corresponds to the selected day
      var rows = document.getElementsByTagName('tr');
      var rowToUpdate;
      for (var i = 0; i < rows.length; i++) {
        if (rows[i].firstElementChild.textContent === day) {
          rowToUpdate = rows[i];
          break;
        }
      }

      // Update the employee in the selected row
      rowToUpdate.lastElementChild.textContent = employee;
    });
  </script>

</body>
</html>